*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    width: 160px;
    background-color: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header{
    background-image: url("../images/banner/banner1.png");
    width:1600px;
    height:808px;
    padding: 216px 230px 116px 845px;
    text-align: right;
    
}

.banner
{
    width: 525px;
    max-width: 525px;
    /* border: 1px solid red; */
}

.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.banner p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
    margin-bottom: 24px;
}

#failures-part
{
    width: 1072px;
    max-width: 1072px;
}

.failures{
    width: 1072px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 131px 332px 0px 206px;
   
}

.failures .containt{
    width: 416px;
    /* border: 1px solid red; */
    margin: 239px 0px 84.3px 87px;
}

.containt h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.containt p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #444343;
    margin-bottom: 16px;
}
.containt li{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #444343;
    list-style-type: none;
    /* margin-bottom: 16px; */
}

.tick-list li::before{
    content: "✓";
    color: green;
    margin-right: 8px;
}

.plan{
    width: 1141px;
    margin:130px auto;
    /* border: 1px solid red; */
    text-align: center;
}

.plan h1{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    padding-bottom: 55.7px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.plan h2{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    padding-bottom: 6px;
}
.plan p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
    padding-bottom: 6px;
}

#down-banner
{
    background-image:url("../images/gradient2.png") , url("../images/watch.png");
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin: 0px auto 130px;   
}

.text-box{
    width: 559px;
    padding-top: 59px;
    padding-left: 64px;
}

.text-box h2{
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 24px;
}

.btn-white{
    width: 160px;
    font-size: 20px;
    font-weight: 500;
    color: #F15B22;
    background-color: #FFFFFF;
    padding: 21px 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    height: 577px;
    width: 1600px;
    background-color: #151414;
    padding: 130px 230px;
}
.devider
{
    display: flex;
    justify-content: space-between;
}
.Left-side{
    width: 485px;
}

.Left-side h1{
    font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    padding-bottom: 16px;
}
.Left-side p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 26px;
    padding-bottom: 24px;
}
.Left-side h6{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 16px;
}
.icon
{
    width: 175px;
    justify-content: space-between;
    padding-top: 16px;
}

.right-side{
    width: 325px;
}

.right-side h3
{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 31px;
}

.right-side input{
    width: 325px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    padding: 21px 21px ;
    background-color: #151414;
    margin-bottom: 16px;
}