*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    width: 160px;
    background-color: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
}

header{
    background-image: url("../images/banner/banner1.png");
    width:1600px;
    height:808px;
    padding: 216px 230px 116px 845px;
    text-align: right;
    
}

.banner
{
    width: 525px;
    max-width: 525px;
    /* border: 1px solid red; */
}

.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.banner p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
    margin-bottom: 24px;
}

#failures-part
{
    width: 1072px;
    max-width: 1072px;
}

.failures{
    width: 1072px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 131px 332px 0px 206px;
   
}


.failures .containt{
    width: 416px;
    /* border: 1px solid red; */
    margin: 239px 0px 84.3px 87px;
}

.containt h2{
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 24px;
}
.containt p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #444343;
    margin-bottom: 16px;
}
.containt li{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #444343;
    list-style-type: none;
    /* margin-bottom: 16px; */
}

.tick-list li::before{
    content: "✓";
    color: green;
    margin-right: 8px;
}


